:root {
    --dark-blue-color: #2C3E50;
    --green-color: #1ABC9C;
    --light-blue-color: #3A546D;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bg-blue {
    background-color: var(--dark-blue-color);
    color: white;
}

.bg-green {
    background-color: var(--green-color);
    color: white; 
}

.line-star {
    display: flex;
    align-items:  center;
    justify-content: center;
}

.line-star .line{
    width: 150px;
    height: 5px;
    background-color: black;
}

.line-star .star{
    font-size: 2em;
    margin: 0 1.5em;
}

.bg-green .line-star .line{
    background-color: white;
}

.jumbo .avatar {
    width: 250px;
}

.jumbo .jumbo-title {
    font-size: 2.5em;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.portfolio,
.about,
.contact {
    text-align: center;
}

.portfolio .product {
    height: 200px;
    border: 1px solid black;
}

.about p,
.contact .align-left {
    text-align: left;
}

.contact .name,
.contact .email,
.contact .phone {
    height: 40px;
    border-bottom: 2px solid black;
    background-color: red;
}

.contact .message {
    height: 100px;
    border-bottom: 2px solid black;
    background-color: red;
}

.footer-top {
    background-color: var(--light-blue-color);
    color: white;
    text-align: center;
}

.footer-bot {
    background-color: var(--dark-blue-color);
    color: white;
    text-align: center;
}


