:root {
    --dark-blue-color: #2C3E50;
    --green-color: #1ABC9C;
    --light-blue-color: #3A546D;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bg-blue {
    background-color: var(--dark-blue-color);
    color: white;
}

.bg-green {
    background-color: var(--green-color);
    color: white; 
}

section h1 {
    font-size: 2.8em;
}

.line-star {
    display: flex;
    align-items:  center;
    justify-content: center;
}

.line-star .line{
    width: 15%;
    height: 5px;
    background-color: black;
}

.line-star .star{
    font-size: 2em;
    margin: 0 2%;
}

.bg-green .line-star .line{
    background-color: white;
}

.jumbo .avatar {
    width: 250px;
}

.portfolio .product {
   position: relative;
}

.portfolio .product img {
    width: 100%;
    border-radius: 20px;
}

.portfolio .product .plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: none;
}

.portfolio .product .plus span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.portfolio .product:hover .plus {
    display: block;
}

.about p {
    font-size: 1.3em;
    text-align: left;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.contact .name,
.contact .email,
.contact .phone {
    height: 40px;
    border-bottom: 2px solid black;
    background-color: red;
}

.contact .message {
    height: 100px;
    border-bottom: 2px solid black;
    background-color: red;
}

.footer-top {
    background-color: var(--light-blue-color);
    color: white;
    text-align: center;
}

.footer-bot {
    background-color: var(--dark-blue-color);
    color: white;
    text-align: center;
}


